---
extension: html
filter:    haml
---
- @posts = @pages.find(:all, :in_directory => '/', :recursive => true, :blog_post => true)
%h2 Articles
%ul
  - @posts.each do |page|
    %li= link_to page.title, page

%h2 Tags
%ul
  - @posts.map{|p| p.tags}.flatten.uniq.compact.each do |tag|
    %li= link_to tag, "/tags/#{tag.to_url}.html"
