---
extension: html
filter:    haml
layout:   default
blog_post: false
---

%h1 Hello there, son

%ul#entries
  - @pages.find(:all, :in_directory => '/', :recursive => true, :blog_post => true).each do |page|
    %li.entry
      = render(page)
